
<div class="grid-container">
    <div class="block-green-one grid-item">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/images/svgs/Boehringer_Standalone_Lung_RGB_Accent-Green.svg" style="width: 90%; padding-top: 24px;">
            </div>
            <div class="col-lg-6">
                <h2>About the Boehringer Ingelheim Medicines Request Program </h2>
                <p>OFEV<sup>®</sup> (nintedanib) monotherapy is indicated for the treatment of:</p>
                <ul>
                    <li>
                        <p>Idiopathic Pulmonary Fibrosis (IPF)</p>
                    </li>
                    <li>
                        <p>
                            Other chronic fibrosing Interstitial Lung Diseases (ILDs) with a progressive phenotype
                        </p>
                    </li>
                    <li>
                        <p>
                            Slowing the rate of decline in pulmonary function in patients with systemic sclerosis      
                        </p>              
                    </li>
                </ul>            
            </div>
        </div>
    </div>
    <div class="block-gray-warm grid-item">
        <app-eligibility-criteria></app-eligibility-criteria>
    </div>
</div>