.adminTable {
    th{
        background-color: #08312A;
        color: white;
    }
    tr.detail-row {
      height: 0;
    }
  
    .element-row td {
      border-bottom-width: 0;
    }
  
    td {
      div {
        a.table-edit-link{
            text-decoration: none;
            display:block;
        }
  
        a.entity-link {
          text-decoration: none;
          color: #2a3547;
        }
  
        a.mat-accent {
          color: white;
          background-color: lightgrey;
        }
  
        a.mat-primary {
          color: #7c8fac;
          background-color: #ecf6ff;
        }
  
        a.mat-warn {
          color: white;
          background-color: #ffb22b;
        }
  
        mat-card{
            text-wrap: wrap;
            white-space: normal;
            word-wrap:normal;
        }
      }
    }
  
    td.mat-column-expandedDetail {
      padding: 0 16px 0 16px;
    }
  }
