<h1>My patient dashboard</h1>
<mat-card class="cardWithShadow dark-green-card">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Search patients"
            (keyup)="filter($any($event.target).value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <div class="button-group">
          <div class="button-row">
            <a
              mat-stroked-button
              [routerLink]="['/patients/enrol']"
              color="tertiary">
              Enrol patient
            </a>
            <a
              mat-stroked-button
              color="tertiary"
              (click)="openEligibilityCriteria()">
              Patient Eligibility Criteria
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow m-t-24">
  @if (patients$ | async) {
  <div class="table-responsive">
    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="patientList"
      matSort
      class="adminTable no-wrap m-t-0 v-middle w-100">
      <ng-container matColumnDef="Name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="f-w-600 f-s-15">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="f-s-14">
          {{ element.firstName }} {{ element.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Dob">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="f-w-600 f-s-15">
          DOB
        </th>
        <td mat-cell *matCellDef="let element" class="f-s-14">
          {{ element.dateOfBirth | date : 'dd/MM/YYYY' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="f-w-600 f-s-15">
          Status
        </th>
        <td mat-cell *matCellDef="let element" class="f-s-14">
          <mat-chip>{{ TreatmentStatus[element.status] }}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="f-w-600 f-s-15">
          Actions
        </th>
        <td mat-cell *matCellDef="let element" class="f-s-14">
          <button
            mat-icon-button
            aria-label="patient actions menu icon"
            [matMenuTriggerFor]="actions"
            (click)="element.action = 'menu'">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actions="matMenu">
            <button
              *ngIf="element.canResupply"
              mat-menu-item
              aria-label="expand reapproval form"
              [routerLink]="[routeLinks.patients.reapprove, element.id]">
              Reapprove patient
            </button>
            <button
              mat-menu-item
              aria-label="expand discontinuation form"
              (click)="
                expandedElement =
                  expandedElement === element &&
                  element.action === 'discontinue'
                    ? null
                    : element;
                element.action = 'discontinue';
                $event.stopPropagation()
              ">
              Discontinue patient
            </button>
            <button
              mat-menu-item
              aria-label="expand transfer form"
              (click)="
                expandedElement =
                  expandedElement === element && element.action === 'trnasfer'
                    ? null
                    : element;
                element.action = 'transfer';
                $event.stopPropagation()
              ">
              Transfer patient
            </button>
            <button
              mat-menu-item
              aria-label="expand treatment history"
              (click)="
                expandedElement =
                  expandedElement === element && element.action === 'history'
                    ? null
                    : element;
                element.action = 'history';
                $event.stopPropagation()
              ">
              View treatment history
            </button>
            <button
              mat-menu-item
              aria-label="expand last script"
              (click)="onDownloadLastScriptClick(element.id)">
              Download last script
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length">
          <div
            [@detailExpand]="
              element === expandedElement && element.action !== 'menu'
                ? 'expanded'
                : 'collapsed'
            ">
            <div class="p-15 m-b-16 m-x-18">
              <div class="f-s-14 m-t-8">
                <ng-template [ngIf]="element.action === 'discontinue'">
                  <app-discontinue-patient
                    [id]="element.id"
                    [patient]="element"
                    (closeExpanded)="closeExpanded()"></app-discontinue-patient>
                </ng-template>
                <ng-template [ngIf]="element.action === 'transfer'">
                  <app-transfer-patient
                    [patient]="element"
                    (closeExpanded)="closeExpanded()"></app-transfer-patient>
                </ng-template>
                <ng-template [ngIf]="element.action === 'history'">
                  <app-treatment-history
                    [patientId]="element.id"></app-treatment-history>
                </ng-template>
                <ng-template [ngIf]="element.action === 'script'"></ng-template>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="element-row"
        [class.expanded-row]="expandedElement === element"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons></mat-paginator>
  </div>
  }
</mat-card>
