<div [formGroupName]="controlKey">
    <h4 class="mat-subtitle-2 f-w-600"> I confirm the following (please select):</h4>
    <p>
        <mat-checkbox formControlName="checkOne" color="primary">
            My patient meets <a (click)="openEligibilityCriteria()">eligibility criteria</a> for the Boehringer Ingelheim Medicines Request Program
        </mat-checkbox>
        <mat-error *ngIf="submitted && checkOne.errors">Please confirm the above condition has been met</mat-error>
    </p>
    <p>
        <mat-checkbox formControlName="checkTwo" color="primary">
            Patient has consented to their personal information being provided by me (their doctor) for the purpose of administering the Program as described in the <app-leaving-site [linkUrl]="contactValues.BI_PRIVACY_POLICY_LINK" linkLocation="Privacy Policy"></app-leaving-site>
        </mat-checkbox>
        <mat-error *ngIf="submitted && checkTwo.errors">Please confirm the above condition has been met</mat-error>
    </p>
    <p>
        <mat-checkbox formControlName="checkThree" color="primary">
            Patient has read and signed the Boehringer Ingelheim Medicines Request Program <a href="#" target="_blank">Consent Form</a>, and a photocopy of the signed form has been provided to the patient and the original kept by me (their doctor) in the patient's medical record.
        </mat-checkbox>
        <mat-error *ngIf="submitted && checkThree.errors">Please confirm the above condition has been met</mat-error>
    </p>
    <p>
        <mat-checkbox formControlName="checkFour" color="primary">
            Patient understands that enrolment in the Program is voluntary and that they may withdraw from the Program at any time by informing me, as their doctor.
        </mat-checkbox>
        <mat-error *ngIf="submitted && checkFour.errors">Please confirm the above condition has been met</mat-error>
    </p>
</div>
