<h1>Patient enrolment form and initial prescription form</h1>
<div *ngIf="!enrolmentSuccess">
  <p>*Indicates mandatory field</p>
  @if (submitting) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <mat-stepper #stepper [orientation]="(stepperOrientation | async)!" [linear]="true">

        <mat-step [stepControl]="eligibilityForm">
          <ng-template matStepLabel>Eligibility</ng-template>
          <app-eligibility-form (formCreated)="eligibilityForm = $event">
            <div class="d-flex align-items-center justify-content-between">
              <button mat-stroked-button color="accent" [routerLink]="[routeLinks.patients.dashboard]" type="button">Cancel</button>
              <button mat-flat-button color="primary" type="submit" (click)="onEligibilityCriteriaNext()">Next</button>
            </div>
          </app-eligibility-form>
        </mat-step>

        <mat-step [stepControl]="patientForm">
          <ng-template matStepLabel>Patient</ng-template>
          <app-patient-form (formCreated)="patientForm = $event">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button mat-stroked-button color="accent" [routerLink]="[routeLinks.patients.dashboard]" type="button">Cancel</button>
                <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
              </div>
              <button mat-flat-button color="primary" type="submit" matStepperNext>Next</button>
            </div>
          </app-patient-form>
        </mat-step>

        <mat-step [stepControl]="prescriptionForm">
          <ng-template matStepLabel>Prescription</ng-template>
          <app-prescription-form (formCreated)="prescriptionForm = $event">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button mat-stroked-button color="accent" [routerLink]="[routeLinks.patients.dashboard]" type="button">Cancel</button>
                <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
              </div>
              <button mat-flat-button color="primary" type="submit" matStepperNext>Next</button>
            </div>
          </app-prescription-form>
        </mat-step>

        <mat-step [stepControl]="deliveryForm">
          <ng-template matStepLabel>Delivery</ng-template>
          <app-address (formCreated)="deliveryForm = $event" title="Patient's nominated address for delivery of their medication"
            [establishmentOnly]="false" [hiddenFields]="['name', 'phone', 'mobile']">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button mat-stroked-button color="accent" [routerLink]="[routeLinks.patients.dashboard]" type="button">Cancel</button>
                <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
              </div>
              <button mat-flat-button color="primary" type="submit" matStepperNext>Next</button>
            </div>
          </app-address>
        </mat-step>

        <mat-step [stepControl]="termsForm">
          <ng-template matStepLabel>Submit</ng-template>
          <app-terms-form (formCreated)="termsForm = $event">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button mat-stroked-button color="accent" [routerLink]="[routeLinks.patients.dashboard]" type="button">Cancel</button>
                <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
              </div>
              <button mat-flat-button color="primary" type="submit" (click)="onFormSubmit()" [disabled]="submitting">
                @if (!submitting) {
                Submit
                }
                @else {
                <div class="d-flex">
                  <mat-spinner [diameter]="20" color="accent" class="m-r-10"></mat-spinner>
                  Submitting
                </div>
                }
              </button>
            </div>
          </app-terms-form>
        </mat-step>

      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="enrolmentSuccess">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <h4 class="mat-subtitle-2 d-flex align-items-center f-w-600">
        Thank you for submitting your patient enrolment and initial order.
      </h4>
      <div class="p-16 bg-light-info rounded m-y-20 text-info">
        <div class="icon-block">
          <svg-icon src="assets/images/svgs/information-mark-circle.svg" svgClass="icon-block-image"></svg-icon>
          <div class="icon-block-content" style="max-width: 100%;">
            To finalise OEFV® access for your patient, send a signed prescription to ePharmacy, Reply Paid 612 Virgina QLD 4014. ePharmacy will liaise directly with the patient to dispense and deliver OFEV®.
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <app-prescription [patientId]="patientId" (downloaded)="onPrescriptionDownloaded()"></app-prescription>
    </mat-card-content>
  </mat-card>
</div>