<h1>Order SurePal® Device and Consumables Form</h1>
<div *ngIf="!enrolmentSuccess">
  <p>*Indicates mandatory field</p>
  @if (submitting) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <mat-stepper #stepper [orientation]="(stepperOrientation | async)!" [linear]="false">

        <mat-step [stepControl]="patientForm">
          <ng-template matStepLabel>Patient Details</ng-template>
          <app-patient-form (formCreated)="patientForm = $event"></app-patient-form>
          <app-address title="Please provide a physical address for the delivery of your SurePal® Pen or consumables kit. You can choose to have your delivery sent to your home, work/office or local community pharmacy for collection."
          [establishmentOnly]="false" [hiddenFields]="['name', 'phone', 'mobile']">
            <div class="d-flex align-items-center justify-content-between">
              <button mat-stroked-button class="cancel-button" [routerLink]="[routeLinks.patients.dashboard]" type="button">Cancel</button>
              <button mat-flat-button color="primary" type="submit" (click)="onPatientFormNext()">Next</button>
            </div>
        </app-address>
        </mat-step>

        <mat-step [stepControl]="orderForm">
        <ng-template matStepLabel>Order Form</ng-template>
        <app-order-form></app-order-form>
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button mat-stroked-button class="cancel-button" [routerLink]="[routeLinks.patients.dashboard]" type="button">Cancel</button>
                <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
              </div>
              <button mat-flat-button color="primary" type="submit" (click)="onFormSubmit()">Submit</button>
            </div>
        </mat-step>

      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="enrolmentSuccess">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <h4 class="mat-subtitle-2 d-flex align-items-center f-w-600">
        Order Submitted
      </h4>
      <div class="p-16 bg-light-info rounded m-y-20 text-info">
        <div class="icon-block">
          <svg-icon src="assets/images/svgs/information-mark-circle.svg" svgClass="icon-block-image"></svg-icon>
          <div class="icon-block-content" style="max-width: 100%;">
            Thank you, your order has been placed and will be delivered within 10 working days. Please note that if you have nominated to have your order delivered to your local community pharmacy, you will need to collect your order directly from there.
            Should you have any queries please contact the Program Administrator on 0800 666 369.            
        </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>