@if(title){
    <div class="p-16 bg-dark-blue rounded m-b-20">
      <h5 class="white">
        {{ title }}
      </h5>
    </div>
  }
  <div>
    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
      Search address
    </mat-label>
    <mat-form-field appearance="outline" class="w-100 m-b-20">
      <input matInput #placesRef="ngx-places" ngx-gp-autocomplete [options]='options'
        (onAddressChange)="handleAddressChange($event)" type="text" />
      <mat-hint [innerHTML]="searchHint">
      </mat-hint>
    </mat-form-field>
  </div>
  <app-dynamic-form [formDefinition]="addressFormDefinition" (formCreated)="onFormCreated($event)">
    <ng-content></ng-content>
  </app-dynamic-form>