<h2 mat-dialog-title>You are about to leave the OmniPal<sup>®</sup> Patient Support Program</h2>
<mat-dialog-content>
  <p>
    Do you wish to proceed?
  </p>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="button-group">
      <a mat-flat-button mat-dialog-close class="secondary leaving-site-equal-width">No</a>
      <a mat-flat-button [mat-dialog-close]="true" cdkFocusInitial class="primary leaving-site-equal-width" target="_blank" href="{{data.url}}">Proceed</a>
    </div>
</mat-dialog-actions>