<div class="d-flex align-items-center justify-content-center">
  <mat-card class="cardWithShadow theme-card register-form">
    <mat-card-content>
      <mat-stepper #stepper [linear]="false" [orientation]="(stepperOrientation$ | async)!">
        <mat-step [stepControl]="welcomeForm">
          <ng-template matStepLabel>Welcome</ng-template>
          <app-welcome-form (formCreated)="welcomeForm = $event">
          </app-welcome-form>
          <div class="d-flex align-items-center justify-content-between">
            <button mat-stroked-button color="accent" [routerLink]="[routeLinks.landing]" type="button">Cancel</button>
            <button mat-flat-button color="primary" type="submit" matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="patientForm">
          <ng-template matStepLabel>Patient Details</ng-template>
          <app-patient-form></app-patient-form>
          <app-address (formCreated)="patientForm = $event" title="Delivery Address"
            searchHint="Enter your delivery address to search"
            [hiddenFields]="['unitNumber', 'city', 'streetAddress', 'mobile','search']">
          </app-address>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <button mat-stroked-button color="accent" [routerLink]="[routeLinks.landing]" type="button">Cancel</button>
              <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
            </div>
            <button mat-flat-button color="primary" type="submit">Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="termsForm">
          <ng-template matStepLabel>Terms</ng-template>
          <app-terms-form (formCreated)="termsForm = $event">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button mat-stroked-button color="accent" [routerLink]="[routeLinks.landing]" type="button">Cancel</button>
                <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
              </div>
              <button mat-flat-button color="primary" type="submit" (click)="onRegisterClick()">Register</button>
            </div>

            <ng-template matStepLabel>Submit</ng-template>
            <div class="p-16 bg-light-secondary rounded m-y-20">
              <h5 class="mat-subtitle-2 text-secondary d-flex align-items-center f-w-600">
                Registration Submission
                @if (registrationSuccess) {
                Successful
                }
                @else {
                Failed
                }
              </h5>
            </div>
            <app-inline-alert [success]="registrationSuccess">
              @if (registrationSuccess) {
              Your registration form has been successfully submitted. You will receive an email when your account has been
              verified.
              }
              @else {
              Registration failed. Please check the following fields and then try to submit again.
  
              @if (registrationProblem && registrationProblem.errors) {
              <ul>
                @for (problem of registrationProblem.errors; track problem.propertyName) {
                <li>{{ problem.message }}</li>
                }
              </ul>
              }
              }
            </app-inline-alert>
          </app-terms-form>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>