<h1 class="title">Program Resources </h1>
<p>The below materials are provided to support both healthcare professionals and patients to understand the Program and how it works: </p>
<div class="grid-container">
    <div class="block-green-one grid-item">
        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/images/svgs/Boehringer_Standalone_Pill_RGB_Accent-Green.svg" style="width: 90%;">
            </div>
            <div class="col-lg-6 block-button">
                <button class="block-button-icon-open accent" (click)="openEligibilityCriteria()">Patient Eligibility Criteria</button>
            </div>
        </div>
    </div>
    <div class="block-gray-warm grid-item">
        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/images/svgs/Boehringer_Standalone_Write-Paper_RGB_Dark-Green.svg" style="width: 90%;">
            </div>
            <div class="col-lg-6 block-button">
                <button class="block-button-icon-download neutral">Patient Consent Form</button>
            </div>
        </div>
    </div>
</div>
