@if(title){
  <div class="p-16 bg-dark-blue rounded m-b-20">
    <h5 class="white">
      {{ title }}
    </h5>
  </div>
}
<div>
  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
    Search address
  </mat-label>
  <div class="place-autocomplete-wrapper m-b-20">
    <div #placesContainer class="place-autocomplete-host"></div>
    @if(searchHint){
      <div class="place-autocomplete-hint" [innerHTML]="searchHint"></div>
    }
  </div>
</div>
<app-dynamic-form [formDefinition]="addressFormDefinition" (formCreated)="onFormCreated($event)">
  <ng-content></ng-content>
</app-dynamic-form>