<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>X</button>
</mat-dialog-actions>
<div id="TermsOfUse">
    <h2 mat-dialog-title>Healthcare Professional Terms & Conditions</h2>
    <mat-dialog-content>
        <p>
            You agree to read the OFEV® Product Information.
        </p>
        <p>
            You are aware the Boehringer Ingelheim Medicines Request Program is available to patients meeting all the eligibility criteria. 
        </p>
        <p>
            You agree to explain the risks and benefits of OFEV® compared with existing therapies to your patients.
        </p>
        <p>
            You agree to gain informed consent from your patient prior to enrolment into the Program, including consenting to the Privacy Notice.
        </p>
        <p>
            You have explained to eligible patients that OFEV® will be provided at no cost to eligible patients until notified by Boehringer Ingelheim by reasonable written notice.
        </p>
        <p>
            You have explained to the patient they will no longer be eligible for the Program if:
        </p>
        <ul>
            <li>
                The patient no longer meets the eligibility criteria for the Program;
            </li>
            <li>
                The patient is not demonstrating an ongoing clinical benefit with OFEV®; or
            </li>
            <li>
                The Program is discontinued, in which case advance notice will be provided.
            </li>
        </ul>
        <p>
            As a healthcare professional participating in this activity sponsored by Boehringer Ingelheim, I have read and understood the privacy notice and I agree with it. I understand that information relating to an adverse event with a Boehringer Ingelheim product that is identified during this activity will be forwarded to Boehringer Ingelheim Patient Safety, for safety reporting.
        </p>
        <p>
            I understand that my participation in this activity indicates my consent for Boehringer Ingelheim Patient Safety to contact me for further information regarding any adverse event identified as part of this activity.
        </p>	
    </mat-dialog-content>
</div>


