<div
  autosize
  autoFocus
  [ngClass]="{
    'sidebarNav-horizontal': options.horizontal,
    cardBorder: options.cardBorder
  }"
  [dir]="options.dir!"
>
  <!-- ============================================================== -->
  <!-- VerticalHeader -->
  <!-- ============================================================== -->
  @if(!options.horizontal) {
  <app-header
    [showToggle]="!isOver"
    (toggleCollapsed)="toggleCollapsed()"
    (toggleMobileNav)="sidenav.toggle()"
  ></app-header>
  } @else {
  <!-- horizontal header -->
  <app-horizontal-header
    (toggleMobileNav)="sidenav.toggle()"
  ></app-horizontal-header>
  }

  <mat-sidenav-container class="mainWrapper">
    <!-- ============================================================== -->
    <!-- horizontal Sidebar -->
    <!-- ============================================================== -->
    @if(resView) {
    <mat-sidenav
      #leftsidenav
      [mode]="'over'"
      [opened]="options.sidenavOpened && !isTablet"
      (openedChange)="onSidenavOpenedChange($event)"
      (closedStart)="onSidenavClosedStart()"
      class="sidebarNav"
    >
      <app-sidebar> </app-sidebar>
      <ng-scrollbar
        class="position-relative mini-scroll"
        style="height: calc(100vh - 230px)"
      >
        <mat-nav-list class="sidebar-list">
          @for(item of navItems; track item) {
          <app-nav-item [item]="item" (notify)="sidenav.toggle()">
          </app-nav-item>
          }
        </mat-nav-list>
      </ng-scrollbar>
    </mat-sidenav>
    }

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper">
      <app-horizontal-sidebar></app-horizontal-sidebar>
      <main
        class="pageWrapper"
        [ngClass]="{
          maxWidth: options.boxed
        }"
      >
        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
        
      </main>
      <footer>
        <div class="footer-centered" [ngClass]="{ maxWidth: options.boxed }">
          <div class="row">
            <div class="col-sm-12">
              <ul id="footer-menu">
                <li>
                  <app-leaving-site [linkUrl]="contactValue.TERMS_OF_USE" linkLocation="Terms of Use"></app-leaving-site>
                </li>
                <li>
                  |
                </li>
                <li>
                  <a (click)="openContactUs()">Contact Us</a> 
                </li>
                <li>
                  |
                <li>
                  <app-leaving-site [linkUrl]="contactValue.PRIVACY_POLICY" linkLocation="Privacy Policy"></app-leaving-site>
                </li>
              </ul>
              <p>
                Sandoz New Zealand Limited, NZBN: 9429051041342, Office 1.02, Level 1, 12 Madden Street, Auckland Central, Auckland 1010, New Zealand. 
                <br>
                Telephone: {{ contactValue.MEDICAL_ENQUIRY_PHONE }}.  MLR-0007-NZ December 2024. TAPS NP12345
              </p>
            </div>
          </div>
        </div>
      </footer>      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

