@use "variables" as *;

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $textPrimary;
  font-size: 14px;
  line-height: 1.334rem;
  margin: 0;
  background-color: $white;

  h1, h2, h3 {
    font-family: $font-family;
    line-height: normal;
  }

  h5{
    font-size: 16px;
    line-height: 16px;
    margin:0;
    color: $white;
  }

  .title{
    font-size:  3rem;  
  }
}

html .mat-drawer-container {
  background-color: $white;
  .mat-mdc-button-base{
    border-width: 2px;
    border-radius: 0.125rem;
  }
  .mat-mdc-outlined-button:not(:disabled){
    border-color: $theme-gray-eight;
  }

  .mat-mdc-unelevated-button.mat-accent{
    &:hover{
      background-color: $theme-accent-three;
      color: $theme-web-black;
    }
  }

  .mat-mdc-unelevated-button.mat-primary{
    &:hover{
      background-color: $theme-accent-three;
      color: $theme-web-black;
    }
  }

  .mat-mdc-outlined-button.mat-tertiary{
    background-color: $theme-gray-one;
  }

  .mat-mdc-checkbox label{
    font-weight: normal;
    font-size: 14px;
  }
}

.information{
  padding: 16px;
  background-color: $theme-info-three;
  color: $theme-info-two;
}

.mainWrapper {
  display: flex;
  width: 100%;
  flex: 1;
  height: 100%;
}

.container {
  max-width: $boxedWidth;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  &.full-width {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.pageWrapper {
  padding:24px;
  margin: 0 auto;
  flex-grow: 1;

  &.maxWidth {
    max-width: $boxedWidth;
    width: 100%;
  }

  a{
    font-weight: 800;
    cursor: pointer;
    color: #01206A;
    text-decoration: none;
    &:hover{
      color: #01206A;
    }
  }
  a.mat-mdc-outlined-button{
    &:hover{
      color: $primary;
    }
  }
}

a.themed-link{
  font-weight: 800;
  cursor: pointer;
  color: #01206A;
  text-decoration: none;
  &:hover{
    color: #01206A;
  }
}

footer {
  background-color: $white;
  color: #01206A;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 100px;

  .footer-centered {
    margin: 0 auto;
    max-width: $boxedWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      justify-content: center;
      text-align: center;

      li {
        display: inline-block;
        margin-right: 16px;
        color: #01206A;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  a {
    font-weight: 800;
    cursor: pointer;
    color: #01206A !important;
    text-decoration: none;

    &:hover {
      color: $theme-accent-two;
    }
  }

  .forward-icon {
    img {
      width: 40%;
      position: absolute;
      bottom: 25px;
      right: 25px;
    }
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-content p {
  flex: 1; 
  margin: 0;
}

.footer-logo {
  max-width: 150px; 
  max-height: 100px;
  margin-left: 20px;
}

// layout
.grid-container{
  display: flex;
  flex-direction: row;
  
  &.grid-container-center{
    align-items: center;
    justify-content: center;
  }
  
  .grid-item{
    width: 50%;
    padding: 24px;
    min-height: 300px;
  }
  .block-green-one{
    background-color: $theme-blue-two;
    color: $theme-accent-one;
    p{
      color: $white;
    }
  }

  .block-gray-warm{
    background-color: $theme-gray-four;
    color: $theme-blue-two;
  }

  .block-blue-light{
    background-color: $theme-blue-light;
    color: $textPrimary;
  }

}

.icon-block{
  display: flex;
  flex-direction: row;
  &.icon-block-justify{
    align-items: center;
    justify-content: center;
  }
  .icon-block-image, .icon-block-image-success{
    width: 30px;
    margin-right: 24px;
  }
  .icon-block-image-success{
    fill: $theme-success-one;
  }
  .icon-block-content{
    font-weight: 300;
    font-size: 1.1em;
    padding-top: 2px;
    flex: 1 1 0;
    min-width: 0;
    // fix for now
    max-width: 750px;
    display: flex;
  }
  .icon-block-item{
    display: flex;
  }
}

.bg-light-blue{
  background-color: $theme-blue-light;
}

.bg-dark-blue{
  background-color: $theme-blue-one;
}

.summary-block{
  label{
    display: inline-block;
    font-weight: 800;
    margin-right: 16px;
  }

}

// buttons
.block-button{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    min-height: 100px;
    min-width: 150px;
    font-size: 16px;
    padding: 24px;
    &.accent{
      border: 1px solid $theme-accent-one;
      background-color: $theme-accent-one;
      &:hover{
        background-color: $theme-accent-three;
      }
    }
    &.neutral{
      background-color: $theme-gray-three;
      &:hover{
        background-color: $theme-gray-four;
      }
    }
  }
  
}

.cancel-button {
  color: #C81023 !important;
  border: 2px solid #C81023 !important; 
}


#eligibility{
  display: flex;
  flex-direction: row;
  .grid-icon{
    padding: 40px;
    .title-block-image{
      height: 80%;
    }
  }
  .grid-content{
    flex-grow: 1;
  }
}

#TermsOfUse, #ContactUs{
  padding: 0 24px 24px 24px;
}

.highlight-gray{
  background-color: $theme-gray-three;
}
.bg-warm-gray{
  background-color: $theme-gray-three;
}

///// table /////
tr.expanded-row{
  background-color: $theme-accent-four;
}

.button-group{
  display: table;
  .button-row{
    display: table-cell;
  }
  
}
.button-row .mat-mdc-button-base{
  margin: 8px 8px 8px 0;
}

.btn-icon-arrow{
  width: 25px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.shadow-none {
  box-shadow: none !important;
}

.rounded {
  border-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 25px !important;
}

.overflow-hidden {
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.table-responsive {
  overflow-x: auto;

  td,
  mat-cell {
    white-space: nowrap;
    padding: 16px;
  }
}

@media (max-width: 991px) {
  .table-responsive-sm {
    overflow-x: auto;
  }
}

.op-5 {
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
}

.avatar-group {
  img {
    border: 2px solid white;
    margin-right: -5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.filter-sidebar {
  width: 290px;
}

#footer-menu{
  li{
    a{
      color: $theme-accent-two;
      cursor: pointer;
       &:hover{
        font-weight: bold;
       }
    }
  }
}

.omni-logo {
  font-weight: bold;
  line-height: 1.5;
}

.omni-pal {
  margin: 0 1px;
  display: inline-block; 
}

.omni {
  color: #C81023;
}

.pal {
  color: #003366;
}

.logo {
  width: 35%; 
  height: 1%;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.half-width {
  width: 50%;
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

/* Split Section */
.split-section {
  display: flex;
  width: 100%;
  height: 180px;
  margin-bottom: 40px;
}

.split-section-left {
  flex: 1;
  background-color: $theme-accent-one;
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-section-right {
  flex: 1;
  background-color: $theme-accent-two;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20%;
  padding: 40px;
  margin-top: 30px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.information-button {
  font-size: 16px;
  font-weight: 600;
  padding: 18px 40px;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.information-button:hover {
  background-color: #007bff;
  color: #ffffff;
}

.information-button:focus {
  outline: 2px solid #003f7f;
}

a.block-menu-item{
  min-width: 150px;
  border-right: solid 1px $theme-gray-six;
  border-radius: 0 !important;
  text-align: center !important; 
}

.ddmenu {
  min-width: 225px !important;
}

.bg-primary,
.topbar {
  background: $white !important;
}

.topbar .mat-mdc-icon-button,
.topbar .mat-mdc-button {
  color: $white !important;
}

.horizontal-navbar .parentBox.pactive > a,
.horizontal-navbar .parentBox.pactive > a:hover,
.horizontal-navbar .parentBox.pactive:hover > a {
  background-color: #E9F4FE !important;
}
