<h1>Welcome to OmniPal® Patient Support Program.</h1>

<!-- Device and Consumables Section -->
<section id="device-consumables-section" class="split-section">
  <!-- Left Section -->
  <div class="split-section-left">
    <button mat-button id="order-device-button" class="primary-button">
      Order SurePal® Device and Consumables
    </button>
  </div>

  <!-- Right Section -->
  <div class="split-section-right">
    <button mat-button id="schedule-training-button" class="primary-button">
      Schedule an Injection Training Session
    </button>
  </div>
</section>

<!-- Action Buttons Section -->
<h1>Information for Patients</h1>
  <div class="action-buttons">
    <button mat-button class="information-button">Watch: How to Inject Video</button>
    <button mat-button class="information-button">PDF Guide 1</button>
    <button mat-button class="information-button">PDF Guide 2</button>
    <button mat-button class="information-button">PDF Guide 3</button>
    <button mat-button class="information-button">Consumer Medicine Information</button>
  </div>