.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  padding: 0;
  gap: 0;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.grid-item:nth-child(2) {
  background-color: #C81023;
  color: white;
}

.grid-item:nth-child(3) {
  background-color: #003366;
  color: white;
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  background-color: #003366;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 75%;
}

.primary-button:hover {
  background-color: #001d3b;
}

.primary-button mat-icon {
  font-size: 30px;
}


.custom-button {
  width: 75%;
  background-color: #C81023;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  text-transform: none;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
}

.custom-button:hover {
  background-color: #9A0E1B;
  color: #ffffff;
}

.custom-button:focus {
  outline: 2px solid #ffffff;
}

.resources-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 300px;
}

.resource-item {
  font-size: 16px;
  font-weight: 600;
  color: #0661AB;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.resource-item::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #0661AB;
  margin-top: 8px;
}

.resource-item:hover {
  color: #003366;
}

.resource-item:hover::after {
  background-color: #003366;
}
