<h1 class="card-title">Welcome to OmniPal® Patient Support Program.</h1>
<section id="device-consumables-section" class="split-section">
  <div class="split-section-left" (click)="onOrderDeviceClick()">
    Order SurePal® Device and Consumables
  </div>
  <div class="split-section-right" (click)="onScheduleTrainingClick()">
    Schedule an Injection Training Session
  </div>
</section>

<h1 class="card-title">Information for Patients</h1>
<div class="action-card">
  <div class="button-group">
    <button class="information-button">Watch: How to Inject Video</button>
    <button class="information-button">PDF Guide 1</button>
    <button class="information-button">PDF Guide 2</button>
    <button class="information-button">PDF Guide 3</button>
    <button class="information-button">Consumer Medicine Information</button>
  </div>
</div>
