<div class="row justify-content-center">
    <div class="col-lg-12 m-b-30">
      <div class="bg-light-blue p-24">
        <div class="icon-block icon-block-justify">
          <div class="icon-block-item">
            <svg-icon src="/assets/images/svgs/Boehringer_Standalone_Smartphone_RGB_Dark-Green.svg" [svgStyle]="{'height.px': 150}"></svg-icon> 
          </div>
          <div>
            For questions regarding the Boehringer Ingelheim Medicines Request Program please refer to the frequently asked questions below or contact the Program Administrator at <a href="mailto:{{contactValue.SUPPORT_EMAIL}}" >{{contactValue.SUPPORT_EMAIL}}</a> or on {{contactValue.SUPPORT_PHONE}}.
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-12 text-center">
      <mat-card-title class="d-block f-s-24 m-b-24"
        >Frequently asked questions</mat-card-title
      >
      <mat-accordion>
        <mat-expansion-panel class="cardWithShadow">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-w-600 mat-body-1">
                Is my patient eligible for the Boehringer Ingelheim Medicines Request Program?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-left f-s-14">
            Check the <a (click)="openEligibilityCriteria()">Eligibility Criteria</a> of the website.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="cardWithShadow">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-w-600 mat-body-1">
                How do I enrol a patient?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-left f-s-14">
            To enrol a patient in the Program, click on the <a [routerLink]="['/patients/enrol']">‘Enrol Patient’</a> link found on the home page or Patient Dashboard page of the website and complete the information required.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="cardWithShadow">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-w-600 mat-body-1">
                Where do I access the patient program consent form?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-left f-s-14">
            To download a copy of the patient consent form, <a href="#">here</a>. 
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="cardWithShadow">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-w-600 mat-body-1">
                How long will Boehringer Ingelheim provide OFEV® under the Boehringer Medicines Request?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-left f-s-14">
            Patients eligible for treatment via this access pathway will continue to receive treatment for a maximum period of 2 years from the date of the first dispense. 
          </p>
        </mat-expansion-panel>

         <mat-expansion-panel class="cardWithShadow">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-w-600 mat-body-1">
                What if the patient no longer requires access to OFEV® or I wish to discontinue treatment?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-left f-s-14">
            For patients who do not remain eligible for OFEV® or wish to discontinue treatment, select the discontinuation link found on your <a [routerLink]="['/patients/dashboard']" >Patient Dashboard</a> and submit the Patient Discontinuation Form. 
        </p> 
        <p class="text-left f-s-14">
            If you need to report an Adverse Event (AE) contact the Program Administrator at <a href="mailto:{{contactValue.SUPPORT_EMAIL}}" >{{contactValue.SUPPORT_EMAIL}}</a> or on {{contactValue.SUPPORT_PHONE}}.
        </p> 
        <p class="text-left f-s-14">
            To reactivate a discontinued patient please contact the Program Administrator on {{contactValue.SUPPORT_PHONE}} within 48 hours.
        </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="cardWithShadow">
            <mat-expansion-panel-header>
              <mat-panel-title class="f-w-600 mat-body-1">Will Boehringer Ingelheim collect any data on patients enrolled in this program?
            </mat-panel-title>
        </mat-expansion-panel-header>
          <p class="text-left f-s-14">
            No, Boehringer Ingelheim will not collect data that will identify individual patients. In the case of an adverse event been reported while the patient is enrolled in the Program, the details of the adverse event will be shared with the Boehringer Ingelheim Patient Safety Team and the reporting HCP. Wherever practicable, only de-identified information will be used for this purpose.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="cardWithShadow">
            <mat-expansion-panel-header>
              <mat-panel-title class="f-w-600 mat-body-1">What are the contact details for questions regarding OFEV® or the Boehringer Medicines Request?
            </mat-panel-title>
        </mat-expansion-panel-header>
          <p class="text-left f-s-14">
            For more information on OFEV® please contact Boehringer Ingelheim on 1800 226 315. For questions regarding the Boehringer Medicines Request, contact the Program Administrator on at {{contactValue.SUPPORT_PHONE}}.
          </p>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
  