<section [formGroupName]="controlKey">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" for="title">
                Prescriber number*
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
                <input matInput type="text" formControlName="prescriberNumber" />
                <mat-error>{{ setErrorMessage('prescriberNumber', 'Prescriber number') }}</mat-error>
            </mat-form-field>
        </div>
    </div>
</section>

