.topbar {
    background-color: $white;
    color: $theme-accent-one;
  }

.mat-step-optional{
  display: none;
}

.mat-mdc-dialog-actions{
 .button-group{
   padding: 0 16px 24px 16px;
   button, a{
    margin-right: 24px;
    font-size: 14px;
    height: 48px;
    padding: 16px;
    min-width: 100px;
    font-family: $font-family-text;
    border-radius: 0.125rem;
    border: none;
    color: $theme-web-black;
    &:hover{
      background-color: $theme-accent-three;
    }
   }

   a{
    text-decoration: none;
   }

   .primary{
    background-color: $theme-accent-one;
    
   }

   .secondary{
    background-color: $theme-blue-one;
    color: white;
    &:hover{
      color: $theme-web-black;
    }
   }
 }
}

// chips
.mat-mdc-chip.mat-mdc-standard-chip{
  border: solid 1px $theme-blue-one;
  .mat-mdc-chip-action-label{
    font-size: 14px;
    color: $theme-blue-one;
  }
}


