.reset-password {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  mat-card {
    max-width: 400px;

    ul {
      padding-left: 16px;
    }
  }

  .secondary-button{
    background-color: #00c0f3;
  }
}