h1 {
  white-space: break-spaces;
  line-height: 1;
  .omni-logo {
    a {
      text-decoration: none;
    }
  }
}

.nowrap {
  display: inline-block;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4.5vw !important;
  }
}