<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>X</button>
</mat-dialog-actions>
<div id="ContactUs">
    <h2 mat-dialog-title>Contact Us</h2>
    <mat-dialog-content>
        <p>
            For questions regarding the Boehringer Ingelheim Medicines Request Program please contact the Program Administrator at <a href="mailto:{{contactValues.SUPPORT_EMAIL}}">{{contactValues.SUPPORT_EMAIL}}</a> or on {{contactValues.SUPPORT_PHONE}}. 
        </p>
    </mat-dialog-content>
</div>



