<div>
  <h2>Discontinue {{patient.firstName}} {{patient.lastName}}</h2>
  <p>*Indicates mandatory field</p>
  @if (submitting) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
      <mat-stepper #stepper [orientation]="(stepperOrientation | async)!" [linear]="true">

        <mat-step [stepControl]="confirmationForm">
          <ng-template matStepLabel>Confirmation</ng-template>
          <app-confirmation-form (formCreated)="confirmationForm = $event" [patient]="patient">
            <div class="d-flex align-items-center justify-content-between">
              <button mat-stroked-button color="accent" (click)="onCloseForm()" type="button">Cancel</button>
              <button mat-flat-button color="primary" type="submit" matStepperNext>Next</button>
            </div>
          </app-confirmation-form>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel>Submission</ng-template>
          <app-inline-alert [success]="false" theme="bg-light-warning" color="text-warning">
            Are you sure that you want to discontinue this patient from the Boehringer Ingelheim Medicines Request Platform? This action cannot be undone.          
          </app-inline-alert>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <button mat-stroked-button color="accent" (click)="onCloseForm()" type="button">Cancel</button>
              <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
            </div>
            <button mat-flat-button color="primary" type="submit" (click)="onFormSubmit()" [disabled]="submitting">
              @if (!submitting) {
                Confirm
              }
              @else {
                <div class="d-flex">
                  <mat-spinner [diameter]="20" color="accent" class="m-r-10"></mat-spinner>
                  Submitting
                </div>
              }
            </button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          @if (discontinueSuccess) {
            <h2>Patient Successfully Discontinued</h2>
            <app-inline-alert>
              Thank you for submitting this form. This patient will be deactivated.<br />
              To report an adverse event: Telephone {{CONTACT_VALUES.BOEHRINGER_CONTACT}} or via <a
                href="mailto:{{CONTACT_VALUES.SUPPORT_EMAIL}}">{{CONTACT_VALUES.SUPPORT_EMAIL}}</a><br />
              If you would like to reactivate this patient, please call the Program Administrator on
              {{CONTACT_VALUES.SUPPORT_PHONE}} within 48 hours.
            </app-inline-alert>
            <div class="d-flex align-items-center justify-content-end">
              <button mat-flat-button color="accent" (click)="onCloseForm()">Close</button>
            </div>
          }
          @else {
            <app-inline-alert [success]="false">
              Patient discontinuation failed.
  
              @if (discontinueProblem && discontinueProblem.errors) {
                Please check the following fields and then try to submit again.
                <ul>
                  @for (problem of discontinueProblem.errors; track problem.propertyName) {
                    <li>{{ problem.message }}</li>
                  }
                </ul>
              }
            </app-inline-alert>
            <div class="d-flex align-items-center justify-content-start">
              <div>
                <button mat-stroked-button color="accent" (click)="onCloseForm()" type="button">Cancel</button>
                <button mat-flat-button color="accent" class="m-l-10" matStepperPrevious>Back</button>
              </div>
            </div>
          }
        </mat-step>

      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>