<div class="p-16 {{theme}} rounded m-y-{{margin}} {{color}} m-b-{{marginBottom}}">
  <div class="icon-block">
    <!-- @if (success) {
      <svg-icon src="assets/images/svgs/check-circle.svg" svgClass="icon-block-image-success"></svg-icon>
    }
    @else {
      @if(theme == "bg-light-primary"){
        <svg-icon src="assets/images/svgs/exclamation-mark-circle.svg" svgClass="icon-block-image"></svg-icon>
      }
      @else {
        <svg-icon src="assets/images/svgs/exclamation-mark-triangle.svg" svgClass="icon-block-image"></svg-icon>
      }
    } -->
    <div class="icon-block-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>