<div class="forgot-password">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-header class="m-b-10">
      <mat-card-title>Request for a link</mat-card-title>
      <mat-card-subtitle>We will send a reset password link on your email</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (!formSubmitted || !isSuccess) {
        <app-dynamic-form [formDefinition]="formDefinition" (formCreated)="form = $event">
          <div class="d-flex flex-col w-100">
            @if (formSubmitted && !isSuccess) {
              <app-inline-alert [success]="false">
                Your attempt to request a reset password link failed.<br>
                Please check the following errors and try again.
    
                @if (responseProblem && responseProblem.errors) {
                <ul>
                  @for (problem of responseProblem.errors; track problem.propertyName) {
                  <li>{{ problem.message }}</li>
                  }
                </ul>
                }
              </app-inline-alert>
            }
            <button mat-flat-button color="primary" type="submit" (click)="onFormSubmit()">Submit</button>
            <button mat-flat-button class="m-t-10 secondary-button" [routerLink]="[routeLinks.landing]">Back to login</button>
          </div>
        </app-dynamic-form>
      }
      @else {
        <app-inline-alert [success]="true">
          Your request to reset your password was processed.<br>
          Please check your email inbox for the reset password link.
        </app-inline-alert>
        <div class="d-flex flex-col w-100">
          <button mat-flat-button color="accent" [routerLink]="[routeLinks.landing]">Back to login</button>
        </div>
      }
      
    </mat-card-content>
  </mat-card>
</div>