.how-to-inject-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.video-placeholder {
  padding: 16px;

  iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 8px;
  }
}
