@use "sass:map";
@use "@angular/material" as mat;

html.cyan_theme {
  --mat-sys-primary: rgb(1, 192, 200);
  --mat-sys-primary-fixed-dim: rgb(1, 192, 200, 0.10);
  --mat-sys-secondary: rgb(251, 150, 120);
  --mat-sys-secondary-fixed-dim: rgb(251, 150, 120, 0.10);
  --mat-sys-tertiary: rgb(251, 150, 120);
}