<h1>Schedule an Injection Training Session</h1>
<form [formGroup]="injectionTrainingForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!enrolmentSuccess">
    <p>*Indicates mandatory field</p>
    <div *ngIf="submitting">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-card class="cardWithShadow theme-card">
      <mat-card-content class="b-t-1">
        <!-- Patient Details Section -->
        <div formGroupName="patientDetails">
          <app-patient-form></app-patient-form>
        </div>

        <app-guardian-form></app-guardian-form>
        <app-dynamic-form [formDefinition]="injectionSessionFormDefinition"></app-dynamic-form>

        <p>NOTE: Please ensure that you have received your SurePal® device prior to the training session.</p>

        <div class="d-flex align-items-center justify-content-between m-t-20">
          <button mat-stroked-button class="cancel-button" [routerLink]="[routeLinks.home]" type="button">
            Cancel
          </button>
          <button mat-flat-button color="primary" type="submit">Submit Training Request</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="enrolmentSuccess">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-content class="b-t-1">
        <h4 class="mat-subtitle-2 d-flex align-items-center f-w-600">
          Request Submitted       
        </h4>
        <div class="p-16 bg-light-info rounded m-y-20 text-info">
          <div class="icon-block">
            <div class="icon-block-content" style="max-width: 100%;">
              Thank you, your injection training request has been submitted. The Program Administrator will contact you to confirm the date and time for your training session. Should you have any queries, please contact the Program Administrator on 0800 666 487.
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
