<h1>Schedule an Injection Training Session Form</h1>
<form [formGroup]="injectionTrainingForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!enrolmentSuccess">
    <p>*Indicates mandatory field</p>
    <div *ngIf="submitting">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-card class="cardWithShadow theme-card">
      <mat-card-content class="b-t-1">
        <!-- Patient Details Section -->
        <h2>Patient Details</h2>
        <div formGroupName="patientDetails">
          <app-address 
            title="Please provide a physical address for the delivery of your SurePal® Pen or consumables kit. You can choose to have your delivery sent to your home, work/office, or local community pharmacy for collection."
            [establishmentOnly]="false" 
            [hiddenFields]="['name', 'phone', 'mobile']">
          </app-address>
        </div>


        <h2>Injection Training Session</h2>
        <div formGroupName="injectionSession">
          <!-- Date Input -->
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Date of Training</mat-label>
            <input matInput type="date" formControlName="sessionDate" required>
            <mat-error *ngIf="injectionTrainingForm.get('injectionSession.sessionDate')?.hasError('required')">
              Date is required
            </mat-error>
          </mat-form-field>
        
          <!-- Time Picker -->
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Pick a time</mat-label>
            <input matInput type="time" formControlName="sessionTime" required>
            <mat-error *ngIf="injectionTrainingForm.get('injectionSession.sessionTime')?.hasError('required')">
              Time is required
            </mat-error>
          </mat-form-field>
        </div>        

        <p>NOTE: Please ensure that you have received your SurePal® device prior to the training session.</p>

        <div class="d-flex align-items-center justify-content-between m-t-20">
          <button mat-stroked-button color="accent" type="button" (click)="onCancel()">Cancel</button>
          <button mat-flat-button color="primary" type="submit">Submit Training Request</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="enrolmentSuccess">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-content class="b-t-1">
        <h4 class="mat-subtitle-2 d-flex align-items-center f-w-600">
          Request Submitted       
        </h4>
        <div class="p-16 bg-light-info rounded m-y-20 text-info">
          <div class="icon-block">
            <svg-icon src="assets/images/svgs/information-mark-circle.svg" svgClass="icon-block-image"></svg-icon>
            <div class="icon-block-content" style="max-width: 100%;">
              Thank you, your injection training request has been submitted. The Program Administrator will contact you to confirm the date and time for your training session. Should you have any queries, please contact the Program Administrator on 0800 666 369.
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </div>
</form>
